---
import { NewsHeadline } from "./NewsHeadline";
import type { ComponentInstance } from "astro";

interface JobOffer {
    companyName: string;
    companyImage: string;
    teamImage: string;
    description: string;
    applyLink: string;
}

interface Props {
    jobOffers: JobOffer[];
}

const { jobOffers } = Astro.props;
---

<section class="mt-8">
    <NewsHeadline id="title" level={1} className="md:text-4xl">
        Job Opportunities
    </NewsHeadline>
    <div class="w-full overflow-x-auto mt-4 pb-4">
        <table class="w-full">
            <tr>
                {
                    jobOffers.map((job) => (
                        <td
                            class="align-top px-4"
                            style="min-width: min(600px, 70vw);"
                        >
                            <div class="bg-white rounded-lg overflow-hidden border-dark w-full">
                                <div class="p-6 space-y-4">
                                    <table class="w-full mb-4">
                                        <tr>
                                            <td>
                                                <img
                                                    src={job.companyImage}
                                                    alt={`${job.companyName} logo`}
                                                    class="h-12 w-auto max-h-[50px] object-contain"
                                                />
                                            </td>
                                            <td class="text-right">
                                                <a
                                                    href={job.applyLink}
                                                    class="inline-block bliss-red-bg text-white px-4 py-2 rounded-md whitespace-nowrap"
                                                >
                                                    Apply Now
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="w-full text-center">
                                        <img
                                            src={job.teamImage}
                                            alt={`${job.companyName} team`}
                                            class="inline-block max-h-[300px] object-contain"
                                        />
                                    </div>
                                    <div
                                        class="text-secondary"
                                        set:html={job.description}
                                    />
                                </div>
                            </div>
                        </td>
                    ))
                }
            </tr>
        </table>
    </div>
</section>
